.root {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.clearButton {
  display: block;
  background: rgb(140, 186, 230);
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 20px;
  margin: 35px;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
}
