.game {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  height: 100vh;
  background-color: #2b354e;
  padding: 30px;
}

.chat {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.chatTitle {
  padding: 20px 30px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chatInput {
  padding: 15px;
  input {
    width: 100%;
    padding: 10px;
  }
  button {
    width: 100%;
    background: rgb(140, 186, 230);
    color: #fff;
    border: 0;
    cursor: pointer;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
  }
}

.chatMessages {
  height: 65vh;
  overflow-y: scroll;
}

.chatItem {
  padding: 20px;

  p {
    margin-top: 5px;
  }
}
.canvas {
  width: 100%;
  background-color: #fff;
  height: 100%;
  border-radius: 15px;
}
